.select2 {
    width:100%!important;
    }
    
/* .select2-search__field{
    position: absolute;
    vertical-align: auto !important;
    max-width: auto !important;
    margin-left: auto !important;
    padding-top: 30px;
    } */

.select2-search__field{
    display: none !important;
    }