[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
python-decouple = "*"
xhtml2pdf = "*"
django-crispy-forms = "*"
django-widget-tweaks = "*"
django-bootstrap4 = "*"
pdbpp = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.9"
