{% extends 'base.html' %}
{% block body %}
<br>
<br>
<div class="shadow p-3 mb-5 bg-white rounded">
    {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                    {{ message }}
            </div>
            {% endfor %}
    {% endif %}  
    <div class="row">
      <a href="{% url 'incoming_invoices' %}" class="navigation" role="button" style="font-size:12px">Back</a>
    </div>
    <br>
        <form class="text-center" method="POST" action="{% url 'register_invoice' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="shadow p-3 mb-5 bg-white rounded">
                <h5>Register Invoice</h5>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded">
                {% for field in form %}
                <div class="form-group row">
                    <label for="id_{{field.name}}" class="col-3 col-form-label">{{field.label}}</label>
                    <div class="col-6">
                        {{field}}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group row">
                    <label for="producers" class="col-3 col-form-label">Producer</label>
                      <div class="col-6">
                        <select id="producer-list" class="form-control" name="producer">
                          {% for option in producers_list %}
                            <option value="" disabled selected hidden>Select Producer</option>
                            <option value="{{ option.pk }}">{{ option }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-1">
                        <button id="reset_options_producer" class="btn btn-danger btn-circle" name="button">X</button>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="customers" class="col-3 col-form-label">Customer</label>
                      <div class="col-6">
                        <select id="customer-list" class="form-control" name="customer">
                          {% for option in customers_list %}
                            <option value="" disabled selected hidden>Select Customer</option>
                            <option value="{{ option.pk }}">{{ option }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-1">
                        <button id="reset_options_customer" class="btn btn-danger btn-circle" name="button">X</button>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="description" class="col-3 col-form-label">Description</label>
                    <div class="col-6">
                      <input
                        id="description"
                        type="text"
                        class="form-control mr-sm-2"
                        placeholder="Enter Description"
                        aria-label="Description"
                        name='description'>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="documents" class="col-3 col-form-label">Upload Files</label>
                        <div class="col-6">
                            <input type="file" name="documents" multiple/>
                        </div>
                  </div>
                  <div class="form-group row productions">
                    <label for="productions[]" class="col-3 col-form-label">Select Orders</label>
                      <div class="col-6">
                        <select id="production-list-select2" class="form-control" name="productions[]" multiple="multiple">
                          {% for option in production_list %}
                            <option value="{{ option.pk }}">{{ option }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                  <br>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-6">
                      <button type="submit" class="navigation-create" name="button">Save</button>
                    </div>
                </div>    
            </div>
        </form>
    </div>
</div>
<script>
  $(document).ready(function() {
      $('#production-list-select2').select2({
        class: "form-control",
        theme: 'bootstrap4',
      });
    });

  $('#id_invoice_type').change(function(){
    const type = $(this).children("option:selected").val();
    if (type == 'Invoice'){
      $('#reset_options_producer').hide();
      $('#reset_options_customer').hide();
      $('#customer-list').css('opacity', '0.6');
      $('#customer-list').css("pointer-events","none");
      $('#producer-list').css('opacity', '1');
      $('#producer-list').css("pointer-events","auto");
      $('div.form-group.row.productions').show();
      $('label[for="productions[]"]').show();
      $('#production-list-select2').next(".select2-container").show();
    }
    
    else if (type == 'Reklamation') {
      $('#reset_options_producer').hide();
      $('#reset_options_customer').hide();
      $('#customer-list').css('opacity', '1');
      $('#customer-list').css("pointer-events","auto");
      $('#producer-list').css('opacity', '0.6');
      $('#producer-list').css("pointer-events","none");
      $('div.form-group.row.productions').hide();
      $('label[for="productions[]"]').hide();
      $('#production-list-select2').next(".select2-container").hide();
      }
    else {
      $('#customer-list').css('opacity', '1');
      $('#customer-list').css("pointer-events","auto");
      $('#producer-list').css('opacity', '1');
      $('#producer-list').css("pointer-events","auto");
      $('div.form-group.row.productions').hide();
      $('label[for="productions[]"]').hide();
      $('#production-list-select2').next(".select2-container").hide();
    }
  });

  $('#customer-list').change(function(){
    $('#producer-list').css('opacity', '0.6');
    $('#producer-list').css("pointer-events","none");
    $('#reset_options_customer').show();
  });
  $('#producer-list').change(function(){
    $('#customer-list').css('opacity', '0.6');
    $('#customer-list').css("pointer-events","none");
    $('#reset_options_producer').show();
  });
  $('#reset_options_customer').click(function(){
    event.preventDefault()
    const type = $('#id_invoice_type').children("option:selected").val(); 
    if (type == 'Reklamation'){
      $('#customer-list').val('');
      $('#customer-list').css('opacity', '1');
      $('#customer-list').css("pointer-events","auto");
      $('#producer-list').css('opacity', '0.6');
      $('#producer-list').css("pointer-events","none");
      $('#reset_options_customer').hide();
    } 
    else{
      $('#customer-list').val('');
      $('#customer-list').css('opacity', '1');
      $('#customer-list').css("pointer-events","auto");
      $('#producer-list').css('opacity', '1');
      $('#producer-list').css("pointer-events","auto");
      $('#reset_options_customer').hide();
    }
  });
  $('#reset_options_producer').click(function(){
    event.preventDefault()
    $('#producer-list').val('');
    $('#customer-list').css('opacity', '1');
    $('#customer-list').css("pointer-events","auto");
    $('#producer-list').css('opacity', '1');
    $('#producer-list').css("pointer-events","auto");
    $('#reset_options_producer').hide();
  });
  $(document).ready(function() {
    $('#reset_options_producer').hide();
    $('#reset_options_customer').hide();
  });

    $(document).ready(function() {
      const type = $('#id_invoice_type').children("option:selected").val();
      if (type == 'Invoice'){
      $('#reset_options_producer').hide();
      $('#reset_options_customer').hide();
      $('#customer-list').css('opacity', '0.6');
      $('#customer-list').css("pointer-events","none");
      $('#producer-list').css('opacity', '1');
      $('#producer-list').css("pointer-events","auto");
      $('div.form-group.row.productions').show();
      $('label[for="productions[]"]').show();
      $('#production-list-select2').next(".select2-container").show();
    }
    
    else if (type == 'Reklamation') {
      $('#reset_options_producer').hide();
      $('#reset_options_customer').hide();
      $('#customer-list').css('opacity', '1');
      $('#customer-list').css("pointer-events","auto");
      $('#producer-list').css('opacity', '0.6');
      $('#producer-list').css("pointer-events","none");
      $('div.form-group.row.productions').hide();
      $('label[for="productions[]"]').hide();
      $('#production-list-select2').next(".select2-container").hide();
      }
    else {
      $('#customer-list').css('opacity', '1');
      $('#customer-list').css("pointer-events","auto");
      $('#producer-list').css('opacity', '1');
      $('#producer-list').css("pointer-events","auto");
      $('div.form-group.row.productions').hide();
      $('label[for="productions[]"]').hide();
      $('#production-list-select2').next(".select2-container").hide();
    }
    });
</script>
{% endblock%}